---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

## 2023

**PRB101: Introductions aux probabilités et aux statistiques**, Spring 2023, 13h.\
*ENSTA Paris - Institut Polytechnique de Paris*, Teaching Assistant.

**STA101: Introductions aux statistiques**, Spring 2023, 14h.\
*ENSTA Paris - Institut Polytechnique de Paris*, Teaching Assistant.
